body{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
 }
 
 .nav2 .nav-item a{
    font-size: 13px;
    color:#3d3d3d;
 }
   
 /* Footer Section CSS */
 
 
 a.Register{
       height:25px;
       width:max-content;
       font-size: 11px;
 }
 
 .fs-9{
    font-size:11px
 }
 
 .fs-8{
    font-size:12px
 }
 
 .fs-7{
    font-size:13px;
 }


 
 .text-light{
    color:#a9a9a9 !important;
 }
 
 .text-blue{
    color:#071d49;
 }
 .text-primary{
   color: #ffc107 !important;
 }

 .text-darkblue{
   color:#30c;
 }

 .text-lightDark{
   color:#333;

 }
 /*Auction-Items CSS*/
 @media screen and (min-width:992px){
   .lot .lot-img{
      width:160px;
      height:140px;
   }
}


@media screen and (max-width:991px){
   .lot .lot-img{
      width:128px;
      height:96px;
   }
}



/*Carousel Items*/
.active , button:hover{
 color: #000 !important;
  
}

.carousel-indicators{
   position:absolute;
   top:98%;
}




@media screen and (min-width:1120px){
   #carouselExampleIndicators{
      width:854px;
      height:214px;
   }
   #auctionItems{
      width:854px;
     
   }
      
}



@media screen and (min-width:992px) and (max-width:1119px){
  #carouselExampleIndicators{
      width:707px;
      height:176px;
   }
   #auctionItems{
      width:707px;
   }


}

@media screen and (min-width:768px) and (max-width:992px){
   #carouselExampleIndicators{
      width:539px;
      height:135px
   }
   #auctionItems{
   width:539px;
   }


}

/**Highlighted Auction Items*/
@media screen and (min-width:1200px){
   .auctionImage{
      width:200px;
      
   }
}

@media screen and (min-width:767px ) and (max-width:1199pX){
   .auctionImage{
      width:160px;
     
   }
}
